/* Start Table Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 14px; */
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  background-color: #2b2b2b;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

#mainBanner {
  text-align: center;
  color: tomato;
  font-size: 2.5rem;
}

#cityBanner {
  color: white;
  font-size: 2rem;
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}

#tableWrap {
  display: flex;
  justify-content: center;
}

.table {
  margin: 0 0 40px 0;
  width: 610px;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2);
  display: table;
}

.row.header {
  font-weight: 900;
  color: white;
  /* background-color: #ea6153; */
  background-color: yellow;
  color: black;
}

.row.green {
  background: #27ae60;
}

.row.blue {
  background: #2980b9;
}

.cell {
  padding: 6px;
  display: table-cell;
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  font-size: 1.1rem;
}


.lotValue {
  font-weight: bold;
  
}
/* End Table Styles */

#inputWrap {
  text-align: center;
  display: flex;
}

select {
  text-align: center;
  padding: 10px;
  width: 200px;
}
button {
  margin-top: 10px;
  width: 200px;
	height: 50px;
	font-size: 1.1rem;
  background-color: lightgreen;
  border-radius: 15px;
}

#carList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;;
}

.carEntry {
  width: 590px;
  border: 1px solid black;
  text-align: center;
  background-color: lightgray;
  margin: 5px 0;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 15px;
}

.carName {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

.matchNum {
  display: inline;
  font-weight: bold;
}

@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  #mainBanner {
    font-size: 2rem;
  }

  #cityBanner {
    font-size: 2rem;
  }

  .carEntry {
    width: 24rem;
  }
  select, .carEntry {
    /* background-color: transparent;
    color: white; */
    font-size: 1.2rem;
  }
  .table, select, button {
    width: 25rem;
  }
  #inputWrap {
    flex-direction: column;
  }
  .table {
    margin-top: 5px;
  }
  .cell {
    padding: 2px 16px;
    display: block;
    border: none;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .row {
    padding: 14px 0 7px;
  }

  .row.header {
    padding: 0;
    height: 6px;
  }

  .row .cell {
    margin-bottom: 10px;
  }
  .row.header {
    display: none;
  }
  .row .cell::before {
    margin-bottom: 3px;
    content: attr(data-title);
    /* min-width: 90px; */
    line-height: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: inline-block;
  }
  .cellCar {
    text-align: center;
  }
  .cellDate {
    text-align: right;
  }
}

@media screen and (max-width: 580px) {
  .wrapper {
    padding: 0;
  }
  #mainBanner {
    font-size: 1.5rem;
  }
  #cityBanner {
    margin: 0 auto 5px;
    font-size: 1.5rem;
  }
  .carEntry {
    width: 19rem;
  }
  .table, select, button {
    width: 20rem;
  }
  select, .carEntry, button {
    font-size: 1rem;
  }
  .cell {
    font-size: 1rem;
  }

}